ion-content {
  --padding-top: 16px;

  .content-col {
    --ion-grid-column-padding: 0px;
  }

  .user-image {
    --size: 100px;
    margin: auto;
  }

  .user-name {
    text-align: center;
  }
}


ion-icon {
  // default: not-fav
  &[name="heart"] {
    fill: grey;
  }

  &[name="heart"].fav {
    fill: red;
  }
}