<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>New Contact</ion-title>
    <ion-buttons slot="start">
      <ion-button color="primary" (click)="dismissModal()">
        Cancel
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="dark" disabled="true">
        Done
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-thumbnail class="user-image">
    <img src="/assets/avatar.png">
  </ion-thumbnail>

  <ion-row class="add-photo-wrapper">
    <ion-button fill="clear">Add Photo</ion-button>
  </ion-row>

  <ion-list>
    <ion-item>
      <ion-input placeholder="First name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Last name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Phone"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Category"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>
